.container {
  position: relative;
  width: 100%;
}



.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(45, 19, 190);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(195, 195, 240, 0.2) 0px 3px 8px;
}

.container .btn:hover {
  background-color: black;
}
