
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  
  .timeline {
    height: 100px;
    width: 5px;
    background-color: #e5e5e5;
  }
  
  
  
  .circle {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    background-color: #e5e5e5;
  }
  
  .circleWrapper {
    position: relative;
  }
  
  .message {
    
    top: 20%;
    left: 170%;
    max-width: 800px;
    font-weight: bold;
  }
  